
@{
	ViewBag.Title = "Error";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
	<div class="col-md-12" style="text-align:center !important;">

		<h1>Teknik Bir Hata Oluştu</h1>
		<p>Alınan Hata Mesajı: @ViewData.Model</p>
		<a href="/Home/Index" class="btn btn-success">Ana Sayfaya Geri Dön</a>

	</div>
</div>

